{% extends 'tfb/home.html' %}

{% block titulo %}Calculadora Estadisticas Avanzadas{% endblock titulo %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Calculadora Estadísticas Avanzadas</h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form action="{% url 'tfb:calculator' %}" method="POST">
                        {% csrf_token %}
                        <div class="table-responsive m-t-20">
                            <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><div class="form-group"><button type="submit" class="btn btn-success">Calcular</button></div></th>
                                    <th>Puntos</span></th>
                                    <th>TC</th>
                                    <th>2P</th>
                                    <th>3P</th>
                                    <th>TL</th>
                                    <th>RO</th>
                                    <th>RD</th>
                                    <th>RT</th>
                                    <th>ASIS</th>
                                    <th>PER</th>
                                    <th>REC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Equipo A</td>
                                    <td><input class="form-group form-control-sm" type="number" name="puntoscA" id="jPuntos" placeholder="Conv."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="tccA" id="jTCc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="tciA" id="jTCi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="2PcA" id="j2Pc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="2PiA" id="j2Pi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="3PcA" id="j3Pc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="3PiA" id="j3Pi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="TLcA" id="jTLc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="TLiA" id="jTLi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="ROA" id="jRO" placeholder="RO"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="RDA" id="jRD" placeholder="RD"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="RTA" id="jRT" placeholder="RT"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="AsistA" id="jAsist" placeholder="Asist"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="PerA" id="jPer" placeholder="Per"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="RecA" id="jRec" placeholder="Rec"></td>
                                </tr>
                                <tr>
                                    <td>Equipo B</td>
                                    <td><input class="form-group form-control-sm" type="number" name="puntoscB" id="jPuntos" placeholder="Conv."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="tccB" id="jTCc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="tciB" id="jTCi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="2PcB" id="j2Pc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="2PiB" id="j2Pi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="3PcB" id="j3Pc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="3PiB" id="j3Pi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="TLcB" id="jTLc" placeholder="Conv.">-<input class="form-group form-control-sm" type="number" name="TLiB" id="jTLi" placeholder="Int."></td>
                                    <td><input class="form-group form-control-sm" type="number" name="ROB" id="jRO" placeholder="RO"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="RDB" id="jRD" placeholder="RD"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="RTB" id="jRT" placeholder="RT"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="AsistB" id="jAsist" placeholder="Asist"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="PerB" id="jPer" placeholder="Per"></td>
                                    <td><input class="form-group form-control-sm" type="number" name="RecB" id="jRec" placeholder="Rec"></td>
                                </tr>                           
                            </tbody>
                    </table>
                </div>  
            </form>
            <div class="table-responsive m-t-20">
                <table class="table table-data-table">
                    {% for avanzada in avanzadas %}
                    <thead>
                        <tr>
                            <th>Equipo: {{avanzada.equipo}}</th>
                        </tr>
                        <tr>
                            <th>Pace</th>
                            <th>PtsxPOS</th>
                            <th>%EFG</th>
                            <th>%TS</th>
                            <th>Eff OF</th>
                            <th>Eff DEF</th>
                            <th>TC/AS</th>
                            <th>%TRO</th>
                            <th>%TRD</th>
                            <th>%TAS</th>
                            <th>%TREC</th>
                            <th>%TPER</th>
                            <th>TLrate</th>
                            <th>2Prate</th>
                            <th>3Prate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{avanzada.pace}}</td>
                            <td>{{avanzada.ptspos}}</td>
                            <td>{{avanzada.efg}}</td>
                            <td>{{avanzada.ts}}</td>
                            <td>{{avanzada.efoff}}</td>
                            <td>{{avanzada.efdef}}</td>
                            <td>{{avanzada.tcas}}</td>
                            <td>{{avanzada.tro}}</td>
                            <td>{{avanzada.trd}}</td>
                            <td>{{avanzada.tas}}</td>
                            <td>{{avanzada.trec}}</td>
                            <td>{{avanzada.tper}}</td>
                            <td>{{avanzada.optl}}</td>
                            <td>{{avanzada.v2p}}</td>
                            <td>{{avanzada.v3p}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock body %}