{% extends 'tfb/home.html' %}
{% load staticfiles %}
{% block body %}
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30"> <img src="{{jugador.urlIMG}}" class="img-square" width="100">
                    <h3 class="card-title m-t-10">{{jugador.nombre}}</h3>
                        <div class="row text-center justify-content-md-center">
                            <a>{{jugador.id_equipo.nombre}}</a>
                        </div>
                </center>
            <button onclick="abrir_modal_edicion('{% url 'tfb:actualizar_jugador' jugador.id %}')" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Estadisticas Acumuladas</h4>
                    </div>
                    <div class="col-sm-8 align-self-center">
                        <a href="{% url 'tfb:detalle_partido2' jugador.id %}" class="btn btn-info pull-right">Ver Partidos</a>
                    </div>
                </div>
                    <div class="table-responsive m-t-20">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>PTS</th>
                                    <th>MIN</th>
                                    <th>TCc</th>
                                    <th>TCi</th>
                                    <th>%TC</th>
                                    <th>2Pc</th>
                                    <th>2Pi</th>
                                    <th>%2P</th>
                                    <th>3Pc</th>
                                    <th>3Pi</th>
                                    <th>%3P</th>
                                    <th>TLc</th>
                                    <th>TLi</th>
                                    <th>%TL</th>
                                    <th>RO</th>
                                    <th>RD</th>
                                    <th>RT</th>
                                    <th>ASIS</th>
                                    <th>PER</th>
                                    <th>REC</th>
                                    <th>+-PT</th>
                                    <th>VAL</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr>
                                    <td>{{estadisticas.puntos|floatformat:1}}</td>
                                    <td>{{estadisticas.minutos}}</td>
                                    <td>{{estadisticas.tiros_campo_convertidos|floatformat:0}}</td>
                                    <td>{{estadisticas.tiros_campo_intentados|floatformat:0}}</td>
                                    <td>{{estadisticas.tiros_campo_porcentaje|floatformat:1}}</td>
                                    <td>{{estadisticas.tiros_2_convertidos|floatformat:0}}</td>
                                    <td>{{estadisticas.tiros_2_intentados|floatformat:0}}</td>
                                    <td>{{estadisticas.tiros_2_porcentaje|floatformat:1}}</td>
                                    <td>{{estadisticas.tiros_3_convertidos|floatformat:0}}</td>
                                    <td>{{estadisticas.tiros_3_intentados|floatformat:0}}</td>
                                    <td>{{estadisticas.tiros_3_porcentaje|floatformat:1}}</td>
                                    <td>{{estadisticas.tiro_libre_convertido|floatformat:0}}</td>
                                    <td>{{estadisticas.tiro_libre_intentado|floatformat:0}}</td>
                                    <td>{{estadisticas.tiros_libre_porcentaje|floatformat:1}}</td>
                                    <td>{{estadisticas.rebote_ofensivo|floatformat:1}}</td>
                                    <td>{{estadisticas.rebote_defensivo|floatformat:1}}</td>
                                    <td>{{estadisticas.rebote_total|floatformat:1}}</td>
                                    <td>{{estadisticas.asistencias|floatformat:1}}</td>
                                    <td>{{estadisticas.perdidas|floatformat:1}}</td>
                                    <td>{{estadisticas.recuperos|floatformat:1}}</td>
                                    <td>{{estadisticas.diferencia_puntos|floatformat:1}}</td>
                                    <td>{{estadisticas.valoración|floatformat:1}}</td>
                                </tr>                
                            </tbody>
                        </table>
<!-- tabla resp. --></div>
<!-- card body --></div>
<!-- card -->  </div>
<!-- col --></div>
<!-- row --></div>

<div class="modal-fade" id="edicion" role="dialog">

</div>
{% endblock body %}

{% block extra-js %}
<script type="text/javascript">
    function abrir_modal_edicion(url) {
        $('#edicion').load(url,function(){
            $('this').modal('show');
        });
    }
</script>
{% endblock extra-js %}