{% extends 'tfb/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row" style="margin-top: 15px;">
    <nav class="grey lighten-1">
        <div class="col s12">
            <a href="{% url 'tfb:index'%}" class="breadcrumb">Home</a>
            <a href="#" class="breadcrumb">Equipos</a>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-s12">
        <div class="card">
            <div class="card-header">
                <ul class="tabs tabs-fixed-width z-depth-1">
                    <li class="tab">
                        <a class="black-text active" href="#conf-norte">CONFERENCIA NORTE</a>
                    </li>
                    <li class="tab">
                        <a class="black-text" href="#conf-sur">CONFERENCIA SUR</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div id="conf-norte">
                    <div class="card-deck center">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Centro</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'Centro' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Entre Ríos</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'Entre Rios' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">NEA</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'NEA' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">NOA</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'NOA' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="conf-sur">
                    <div class="card-deck center">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Bonaerense</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'Bonaerense' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Metropolitana</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'Metropolitana' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Cuyo</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'Cuyo' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Patagonia</h4>
                            </div>
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        {% for equipo in Equipos %}
                                        {% if equipo.zona == 'Patagonia' %}
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="{{equipo.logoS}}"
                                                        alt="logo" width="50"></span></td>
                                            <td><a
                                                    href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}

{% block extra-js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tabs');    
        var instance = M.Tabs.init(elems);
      });
        
    </script>
{% endblock %}
                                      


</html>