{% extends 'tfb/base.html' %}
{% load staticfiles %}
{% block body %}
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       <h3>{% block titulo-principal %}EQUIPOS{% endblock titulo-principal %}</h3>
                    </div>
                    <div class="col-md-2 align-self-center">
                        {% block record %}{% endblock record %}
                    </div>
                </div>
                <!-- DIVISION BONAERENSE -->

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title"><span class="lstick"></span>Division Bonaerense</h4></div>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table vm no-th-brd no-wrap pro-of-month">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">Equipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipo in Equipos %}
                                                {% if equipo.zona == 'Bonaerense' %}
                                            <tr>
                                                <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
    <!-- tabla resp. -->        </div>
    <!-- card body -->      </div>
    <!-- card -->       </div>
    <!-- col -->    </div>
                <!-- DIVISION METROPOLITANA -->
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title"><span class="lstick"></span>Division Metropolitana</h4>
                                    </div>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table vm no-th-brd no-wrap pro-of-month">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">Equipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipo in Equipos %}
                                                {% if equipo.zona == 'Metropolitana' %}
                                            <tr>
                                                <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
        <!-- tabla resp. -->    </div>
        <!-- card body -->  </div>
        <!-- card -->   </div>
        <!-- col --></div>
<!-- row -->   </div>

                <!-- DIVISION CUYO -->
            
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title"><span class="lstick"></span>Division Cuyo</h4></div>
                                    </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table vm no-th-brd no-wrap pro-of-month">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">Equipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipo in Equipos %}
                                                {% if equipo.zona == 'Cuyo' %}
                                            <tr>
                                                <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
        <!-- tabla resp. -->    </div>
        <!-- card body -->  </div>
        <!-- card -->   </div>
        <!-- col --> </div>
                    <!-- DIVISION PATAGONIA -->
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title"><span class="lstick"></span>Division Patagonia</h4>
                                    </div>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table vm no-th-brd no-wrap pro-of-month">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">Equipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipo in Equipos %}
                                                {% if equipo.zona == 'Patagonia' %}
                                            <tr>
                                                <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
        <!-- tabla resp. -->    </div>
        <!-- card body -->  </div>
        <!-- card -->   </div>
        <!-- col --></div>
<!-- row -->  </div>
            
            <!-- DIVISION CENTRO-->
            
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="card-title"><span class="lstick"></span>Division Centro</h4></div>
                                                </div>
                                            <div class="table-responsive m-t-20">
                                                <table class="table vm no-th-brd no-wrap pro-of-month">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th colspan="2">Equipo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for equipo in Equipos %}
                                                            {% if equipo.zona == 'Centro' %}
                                                        <tr>
                                                            <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                            <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                                        </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                    <!-- tabla resp. -->    </div>
                    <!-- card body -->  </div>
                    <!-- card -->   </div>
                    <!-- col --> </div>
                                <!-- DIVISION ENTRE RIOS -->
                                <div class="col-lg-6 col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div>
                                                    <h4 class="card-title"><span class="lstick"></span>Division Entre Rios</h4>
                                                </div>
                                            </div>
                                            <div class="table-responsive m-t-20">
                                                <table class="table vm no-th-brd no-wrap pro-of-month">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th colspan="2">Equipo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for equipo in Equipos %}
                                                            {% if equipo.zona == 'Entre Rios' %}
                                                        <tr>
                                                            <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                            <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                                        </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                    <!-- tabla resp. -->    </div>
                    <!-- card body -->  </div>
                    <!-- card -->   </div>
                    <!-- col --></div>
            <!-- row -->  </div>
                        
                        <!-- DIVISION NOA-->
                        
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h4 class="card-title"><span class="lstick"></span>Division NOA</h4></div>
                                                            </div>
                                                        <div class="table-responsive m-t-20">
                                                            <table class="table vm no-th-brd no-wrap pro-of-month">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th colspan="2">Equipo</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for equipo in Equipos %}
                                                                        {% if equipo.zona == 'NOA' %}
                                                                    <tr>
                                                                        <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                                        <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                                                    </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                <!-- tabla resp. -->    </div>
                                <!-- card body -->  </div>
                                <!-- card -->   </div>
                                <!-- col --> </div>
                                            <!-- DIVISION NEA -->
                                            <div class="col-lg-6 col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h4 class="card-title"><span class="lstick"></span>Division NEA</h4>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive m-t-20">
                                                            <table class="table vm no-th-brd no-wrap pro-of-month">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th colspan="2">Equipo</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for equipo in Equipos %}
                                                                        {% if equipo.zona == 'NEA' %}
                                                                    <tr>
                                                                        <td style="width:50px;"><span class="round"><img src="{{equipo.urlLogo}}" alt="logo" width="50"></span></td>
                                                                        <td><a href="{% url 'tfb:detalle_equipo' equipo.id_equipo %}">{{equipo.nombre_corto}}</a></td>
                                                                    </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                <!-- tabla resp. -->    </div>
                                <!-- card body -->  </div>
                                <!-- card -->   </div>
                                <!-- col --></div>
                        <!-- row -->  </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
                
            </div>
        
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> 2019-TUBSCOUT</footer>
           
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Chart JS -->
    <script src="{% static 'js/dashboard.js' %}"></script>

</body>

{% endblock body %}

</html>