{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TUBSCOUT</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/images/logo-app/icono.svg' %}" rel="icon">
  <link href="{% static '' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'landing page/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing page/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing page/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'landing page/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing page/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing page/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'landing page/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'landing page/assets/css/style.css' %}" rel="stylesheet">

</head>
  
<body>
  {% if messages %}
    <div class="alert alert-success messages">
      {% for message in messages %}
      <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
          {{ message }}<br/>
      </span>
      {% endfor %}
    </div>
  {% endif %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <a>
          <img src="{% static 'assets/images/logo-app/Logo-Completo-negro.svg' %}" alt="homepage" width="100%">
        </a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#about">Plataforma</a></li>
          <li><a href="#services">Usos</a></li>
          <li><a href="#portfolio">Soporte</a></li>
          <li><a href="#pricing">Planes</a></li>
          <li><a href="#contact">Contacto</a></li>

          <li class="get-started"><a href="/login">Iniciar Sesión</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>

  </header><!-- End Header -->
  {% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row" >
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Lleva tu análisis a un escalón superior</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Plataforma de scouting para baloncesto</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#pricing" class="btn btn-lg btn-primary" >Comprar</a>
          <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#registroModal" data-whatever="Full">Probar</button>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static '/landing page/assets/img/hero.svg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
    
  </section><!-- End Hero -->
  <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
  </div>
  
  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://pbs.twimg.com/profile_images/1084120949266497536/L6z5b0bM_400x400.jpg" class="img-fluid" alt="" data-aos-delay="200"> 
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="https://pbs.twimg.com/profile_images/1096949590765510656/jQKGBATI_400x400.jpg" class="img-fluid" alt=""data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static '' %}" class="img-fluid" alt="" data-aos-delay="200"> 
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static '' %}" class="img-fluid" alt="" data-aos-delay="200"> 
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static '' %}" class="img-fluid" alt="" data-aos-delay="200"> 
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static '' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>¿Porque necesito TUBSCOUT?</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              El uso de los datos en el mundo del baloncesto se encuentra en pleno auge. De esta manera,
              surge la necesidad de incorporar herramientas que optimicen la recogida de información y el
              análisis de la misma, facilitando la toma de decisiones para lograr los objetivos deseados.
            </p>
            <p>
              Ante esta necesidad, usando TUBSCOUT no tendrás que preocuparte por la extracción de información, 
              te centrarás por completo en su análisis y en la toma de decisiones que afecte a tu equipo.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <img src="https://wyscout.com/wp-content/uploads/2017/09/schermata-centrale-no-mac-1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

<!-- ======= Team Section ======= -->
<section id="services" class="team section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Diseñado para los profesionales del baloncesto</h2>
      <p>No debes pertencer a un club para usar la plataforma.</p>
      <p>Ofrecemos una serie de productos diseñados específicamente para permitir
        que cada profesional obtenga lo mejor de TUBSCOUT.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="https://cdn3.iconfinder.com/data/icons/basketball-element/64/Tactic-game-plan-scheme-coach-512.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Entrenadores</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="https://cdn3.iconfinder.com/data/icons/basketball-element/64/Rebound-ball-player-catch-competition-512.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Jugadores</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="{% static 'landing page/assets/img/app/user-2-fill.png' %}" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Agentes</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="{% static 'landing page/assets/img/app/periodista.png' %}" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Periodistas</h4>
            <span></span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->


    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Usos</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-clipboard"></i></div>
              <h4 class="title"><a href="">Entrenadores</a></h4>
              <p class="description">Supervisa el rendimiento de cada jugador y de tu equipo, prepara tu proximo partido con un análisis profundo del rival.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Jugadores</a></h4>
              <p class="description">Analiza a tu próximo oponente, evalua tu rendimiento en la temperoda.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-user"></i></div>
              <h4 class="title"><a href="">Agentes</a></h4>
              <p class="description">Sigue a tus jugadores, descubre nuevos talentos y promuévelos a través de datos confiables.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-note"></i></div>
              <h4 class="title"><a href="">Periodistas</a></h4>
              <p class="description">Lleva tus crónicas a un nivel más, disfrutando de toda la información que brinda la plataforma.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Características</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-computer-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Accesiblidad</a></h3>
            </div>
            <div class="icon-box">
              <p>TUBSCOUT funciona en todos los navegadores sin tener que descargar ningún adicional, esta diseñado para PC, Tablets y Smartphones.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Estadística por partido</a></h3>
            </div>
            <div class="icon-box">
              <p>TUBSCOUT almacena la planilla de estadística de todos los partidos para que la tengas disponible cuando lo necesites.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #e80368;"></i>
              <h3><a href="">Estadisticas Avanzadas</a></h3>
            </div>
            <div class="icon-box">
              <p>TUBSCOUT genera y brinda rankings de eficiencia ofensiva, defensiva y otros rubros.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-clipboard-line" style="color: #e361ff;"></i>
              <h3><a href="">Reportes Customizables</a></h3>
            </div>
            <div class="icon-box">
              <p>TUBSCOUT permite que elijas que datos son los más valiosos
                para ti, en las tablas podrás seleccionar que rubros mostrar
                y filtrar por fechas, localias o resultados para luego exportar en reportes PDF.</p>
            </div>
          </div>
          </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonios</h2>
          <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Tutoriales</h2>
          <p>Exprime a fondo la plataforma</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Equipos</li>
              <li data-filter=".filter-card">Jugadores</li>
              <li data-filter=".filter-web">Otros</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uZ-wV1ZYawY" allowfullscreen></iframe>            
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Planes</h2>
          <p>Elige el que mas se adapte a tus necesidades</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Preguntas frecuentes</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Cuales son los requisitos para utilizar la plataforma?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              TUBSCOUT es una plataforma web, por lo tanto necesitas solamente un dispositivo con conexión a internet para poder utilizarla. 
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Puedo probar el programa?</h4>
          </div>
          <div class="col-lg-7">
            <p>
            Todas nuestras versiones tienen un apartado de prueba, debes tocar en la pantalla de inicio el botón probar 
            y rellenar el formulario con los datos. Recibiras un mail con tu clave de prueba.  
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Tiene alguna limitación de prueba(Demo)?</h4>
          </div>
          <div class="col-lg-7">
            <p>
            Una versión de prueba tiene las mismas características que una licencia definitiva. 
            La única diferencia es que tiene una duración de 7 días a partir del primer login.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿A que deportes esta dirigida la plataforma?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Actualmente TUBSCOUT es una plataforma de scouting exclusiva para baloncesto.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contacta con nosotros</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-8" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>TUBSCOUT</h3>
              <p>Rellena este formulario si quieres ponerte en contacto con nuestro equipo. Te responderemos a la mayor brevedad posible.</p>
            </div>
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

          <div class="col-lg-6 col-md-8" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div class="text-title">
                <h4>Oficina Central</h4>
              </div>
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Calle Falsa 123<br>Buenos Aires, AR <br>CP:1406</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>Cuestiones Generales: info@tubscout.com <br>Ventas: Sales@tubscout.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 5589 55488 55s</p>
              </div>
            </div>
            
              <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
              </div>
      
            
          </div>

          
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

 
{% endblock body %}
  
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'landing page/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'landing page/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'landing page/assets/js/main.js' %}"></script>
  <!-- Modal JS-->
  <script type="text/javascript">
   $('#registroModal').load('registro',function(){
      $('#registroModal').on('shown.bs.modal', function (event){
          var button = $(event.relatedTarget) // Button that triggered the modal
          var licencia = button.data('whatever') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('#licencia').val(licencia)
    })
   })
      
  </script>

</body>

</html>